<%- include("headernav") -%>

<!-- sign up form whole page  -->
<div class="container border mt-1 p-5" id="bd">

    <!-- sign up form block  -->
    <div class="container w-50">

    <h1 class="text-center p-5" style="font-family: Julee;">SIGN UP FOR COMPANY</h1>

    <!-- form starting -->
    <form action="/compReg" class="needs-validated" method="post" onsubmit="return validateForm()">

        <!-- for username -->
        <div class="mb-3 mt-2">
            <div class="input-group mb-3">
                <span class="input-group-text">Company Name</span>
                <input type="text" class="form-control" placeholder="Company Name" name="name" required>
              </div>
              
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <!-- for email  -->
        <div class="mb-3 mt-2">
            <div class="input-group mb-3">
                <span class="input-group-text">Email</span>
                <input type="text" class="form-control" placeholder="Email" name="email" required>
              </div>
              
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <!-- FOR CONTACT NUMBER  -->
        <div class="mb-4">
         <div class="input-group mb-3">
            <span class="input-group-text">Contact number</span>
             <input type="text" class="form-control" placeholder="Contact Number" name="contact" required>
          </div>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>


         <!-- Industry Type selection menu  -->

        <div class="mb-4">
            <div class="input-group mb-3">
               <span class="input-group-text">Industry</span>
                <span>
                    <select class="form-select form-select" aria-label=".form-select-sm example" name="industry" required>
                        <option selected>Select the industry of your comapany</option>
                        <option value="Ceramics/Sanitaryware">Ceramics/Sanitaryware</option>
                        <option value="Government/Defence">Government/Defence</option>
                        <option value="Electrical/Switchgears">Electrical/Switchgears</option>
                        <option value="FacilityManagement">FacilityManagement</option>
                        <option value="Fertilizers/Pesticides">Fertilizers/Pesticides</option>
                        <option value="FoodProcessing">FoodProcessing</option>
                        <option value="Glass">Glass</option>
                        <option value="HeatVantilation/AirConditioning">HeatVantilation/AirConditioning</option>
                        <option value="KPO/Reserch/Analytics">KPO/Reserch/Analytics</option>
                        <option value="Mining">Mining</option>
                        <option value="Publishing">Publishing</option>
                        <option value="Steel">Steel</option>
                        <option value="Strategy/ManagementConsultingFirms">Strategy/ManagementConsultingFirms</option>
                        <option value="Tyres">Tyres</option>
                        <option value="WaterTreatment/WasteManagement">WaterTreatment/WasteManagement</option>
                        <option value="Wellness/Fitness/Sports">Wellness/Fitness/Sports</option>
                        <option value="Telecom/ISP">Telecom/ISP</option>
                        <option value="Other">Other</option>
                        <option value="Animation/Gaming">Animation/Gaming</option>
                        <option value="Banking/FinancialServices/Broking">Banking/FinancialServices/Broking</option>
                        <option value="Brewery/Distillery">Brewery/Distillery</option>
                        <option value="Textiles/Garments/Fashion/Accessories">Textiles/Garments/Fashion/Accessories</option>
                        <option value="Accounting/Finance">Accounting/Finance</option>
                        <option value="Advertising/PR/MR/EventManagement">Advertising/PR/MR/EventManagement</option>
                        <option value="Agriculture/Dairy">Agriculture/Dairy</option>
                        <option value="Hotels/Restaurants/Airlines/Travel">Hotels/Restaurants/Airlines/Travel</option>
                        <option value="Architecture/InteriorDesign">Architecture/InteriorDesign</option>
                        <option value="Automobile/AutoAnciliary/AutoComponents">Automobile/AutoAnciliary/AutoComponents</option>
                        <option value="Pharma/Biotechnology/ClinicalResearch">Pharma/Biotechnology/ClinicalResearch</option>
                        <option value="Construction/Engineering/Cement/Metals">Construction/Engineering/Cement/Metals</option>
                        <option value="Chemicals/PetroChemical/Plastics/Rubber">Chemicals/PetroChemical/Plastics/Rubber</option>
                    </select>
                </span>
             </div>
            </div>

        <!-- Company Address  -->
        
        <div class="mb-3 mt-2">
            <div class="input-group mb-3">
                <span class="input-group-text">Company Address</span>
                <textarea type="text" class="form-control" placeholder="Company Address" rows="5" cols="5" name="address" required></textarea>
              </div>
        </div>

    <!-- for password  -->
    <div class="mb-4">
        <div class="input-group mb-3">
            <span class="input-group-text">Password</span>
            <input type="password" class="form-control" placeholder="Password" name="pswd" id="pswd" required>
          </div>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>

    <!-- Re-enter password  -->
    <div class="mb-4">
      <div class="input-group mb-3">
          <span class="input-group-text">Re-enter Password</span>
          <input type="password" class="form-control" placeholder="Re-enter Password" name="re_pswd" id="re_pswd" required>
        </div>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>

                    

        <!-- Checkbox for terms and conditions  -->
        <div class="form-check mb-3 mt-3">
          <input class="form-check-input" type="checkbox" id="myCheck" name="remember" required>
          <label class="form-check-label text-white" for="myCheck">Accept the terms and conditions.<label>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Check this checkbox to continue.</div>
        </div>

        <!-- Submit button  -->
        <div class="d-grid rounded-5">
          <button type="submit" class="btn btn-dark btn-block" id="submit">Submit</button>
        </div>

      </form>
    </div>

    </div>

    <script>
      function validateForm() {
        var password = document.getElementById("pswd").value;
        var confirmPassword = document.getElementById("re_pswd").value;
        if (password != confirmPassword) {
          alert("Passwords do not match.");
          return false;
        }
        return true;
      }
    
      document.querySelector("form").addEventListener("submit", function(event) {
        if (!validateForm()) {
          event.preventDefault();
        }
      });
    </script>



<%- include("footer") -%>