<footer class="container-fluid d-flex justify-content-center p-3" style="background-color: #222831;">
    <div class="container-fluid d-flex flex-column">
        <img src="images/logo_black.png" alt="footer-logo" height="75px" width="300px" class="mx-auto">
        <div class="mt-3 text-center text-white">Copyright &#169; 2023 Horizon Hire, Inc.</div>
        <ul class="d-flex flex-wrap justify-content-center me-4 mt-3">
            <li class="list-group-item p-3 m-2 rounded" style="background-color: #393E46;">
                <a href="/privacy" class="text-decoration-none text-white">Privacy Policy</a>
            </li>
            <li class="list-group-item p-3 m-2 rounded me-4" style="background-color: #393E46;">
                <a href="/about" class="text-decoration-none text-white">About us</a>
            </li>
        </ul>
    </div>
    </footer>
</body>
</html>