<%- include("headernav") -%>

<!-- sign up form whole page  -->
<div class="vh-100 container border mt-5 p-5" id="bd">

    <!-- sign up form block  -->
    <div class="container w-50">

    <h1 class="text-center text-white p-5" style="font-family: Julee;">JOB POST</h1>

    <!-- form starting -->
    <form action="/jobPostForm" class="needs-validated" method="post">
        
        <!-- Job Detail  -->
        <div class="mb-3 mt-2">
            <div class="input-group mb-3">
                <span class="input-group-text">Job</span>
                <input type="text" class="form-control" placeholder="Job" name="Job" required>
              </div>
        </div>

        <!-- Job Description  -->
        <div class="mb-3 mt-2">
          <div class="input-group mb-3">
              <span class="input-group-text">Job Description</span>
              <textarea type="text" class="form-control" placeholder="Job description" rows="5" cols="5" name="description" oninput="limitTextarea(this, 50)" required></textarea>
            </div>
        </div>

        <!-- Job pay  -->
        <div class="mb-3 mt-2">
            <div class="input-group mb-3">
                <span class="input-group-text">Salary Per Month</span>
                <input type="number" class="form-control" placeholder="job_pay" name="job_pay" required>
              </div>
        </div>

      <!-- Qualification  -->
      <div class="mb-3 mt-2">
        <div class="input-group mb-3">
            <span class="input-group-text">Job qualifications</span>
            <textarea type="text" class="form-control" placeholder="Qualifications" rows="5" cols="5" name="qualifications" required></textarea>
          </div>
      </div>

      <!-- Link  -->
      <div class="mb-3 mt-2">
        <div class="input-group mb-3">
            <span class="input-group-text">Official Job Link</span>
            <input type="text" class="form-control" placeholder="link" name="link" required>
          </div>
      </div>

        

        <!-- Submit button  -->
        <div class="d-grid rounded-5">
          <button type="submit" class="btn btn-dark btn-block">POST</button>
        </div>


      </form>
    </div>

    </div>

    <script>
      function limitTextarea(textarea, maxLength) {
        const words = textarea.value.trim().split(/\s+/);
        if (words.length > maxLength) {
          textarea.value = words.slice(0, maxLength).join(' ') + '...';
        }
      }
    </script>

    
    


    
    
  
<%- include("footer") -%>