<%- include('headernav') -%>

<div class="d-flex justify-content-center container-border rounded  shadow-lg" id="box">
    <!-- <h4 class="text-center">SEARCH FOR JOBS</h4> -->
    <form class="d-flex w-50 flex-column mb-5" style="height: 50px;">
        <h4 class="text-center mt-4 text-decoration-underline text-white">Search for Specific Job</h4>
        <input class="form-control mt-3 p-3 rounded" type="search" placeholder="Interested skill" aria-label="Search">
        <input class="form-control mt-3 p-3 rounded" type="search" placeholder="Location" aria-label="Search">
        <input class="form-control mt-3 p-3 rounded" type="search" placeholder="Company" aria-label="Search">

        <button class="btn btn-outline-success mt-4 p-2 rounded" type="submit">Search</button>
    </form>
</div>


<%- include('footer') -%>