<%- include("headernav") -%>


<!-- carousel images -->
<div class="container-fluid mt-2">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/dream-job-2904780_1920.jpg" class="d-block w-100" alt="..." style="height: 900px;">
            </div>
            <div class="carousel-item">
             <img src="images/job-3241018_1920.jpg" class="d-block w-100" alt="..." style="height: 900px;">
            </div>
            <div class="carousel-item">
                <img src="images/job-2860035_1920.jpg" class="d-block w-100" alt="..." style="height: 900px;">
             </div>
        </div>
         <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<!-- Working section  -->
<div class="container-fluid mt-4 p-5 d-flex" style="background-color: #393E46;">
    <h1 class="row align-center ms-5 p-3" id="working-heading">How Horizon Hire Works?</h1>
    <p class="align-self-center p-3" id="working-text">Horizon Hire is a simple, straightforward app that connects businesses to on-demand labor and individuals to immediate work in real-time. It’s a two-way street that works for everyone. For a better way to work—and a better way to live. </p>
</div>

<!-- Benefits for company section  -->
<div class="container-fluid d-flex mt-4 p-4" style="background-color: #393E46;">
    <img src="images/employer_image.jpeg" alt="employer" class="rounded">
    <div class="d-flex ms-5 flex-column m-auto p-4">
        <h3>Benefits:</h3>
        <ul id="employer-benefit-text" class="p-4">
            <li>Can get qualified workforce on demand in a short period of time.</li>
            <li>Our site-model is easy to use.No sign up fee, no contracts!!</li>
            <li>You can have full control over the taskers you want to recruit.</li>
        </ul>
    </div>
</div>

<!-- Benefits for taskers section  -->
<div class="container-fluid d-flex mt-4 p-5" style="background-color: #393E46;">
    <div class="d-flex ms-5 flex-column m-auto p-4">
        <h3>Benefits:</h3>
        <ul class="p-4" id="taskers-text">
            <li>Find immediate jobs and get pay instantaneously.</li>
            <li>Our easy to use model helps in finding jobs according to your schedule. </li>
            <li>Rate your experience and get top profiler on our base to get job offers from famous companies.</li>
        </ul>
    </div>
        <img src="images/taskers_image.png" alt="job-seekers" width="750px" height="375px" class="rounded">
    
</div>

 



<%- include("footer") -%>
