<%- include("headernav") -%>

<!-- details container  -->
<div class="container d-flex justify-content-center mt-5" id="bd">
  <div
    class="container rounded-3 text-dark m-5 p-5 shadow-lg"
    style="width: 1000px; background-color: #eeeeee"
  >
    <!-- heading  -->
    <h1 style="font-family: Julee" class="text-center p-5 text-decoration-underline">PRIVACY POLICY</h1>
    <div class="p-5">
      <p class="mb-5 text-center">
        We collect information about you to make your job search as easy and
        safe as possible. This data is important; we understand that. This is
        why we’re committed to protecting your privacy online.
      </p>

      <h3 class="p-3 text-center">AT HORIZON HIRE YOUR PRIVACY MATTERS</h3>

      <p class="text-center">
        We are committed to protecting the privacy of our candidates, clients
        and users of our website.
      </p>
      <p class="text-center mb-3">
        Through this Privacy Policy, we aim to inform you about the types of
        personal information we collect, the purpose for which we use the
        information and the ways in which the information is handled. We also
        aim to satisfy the obligation of transparency under the (i) The
        Information Technology Act, 2000; (ii) The Information Technology
        (Reasonable security practices and procedures and sensitive personal
        information or information) Rules 2011; (iii) Information Technology
        (The Indian Computer Emergency Response Team and Manner of Performing
        Functions and Duties) Rules 2013; and (iv) other relevant laws and
        regulations. 
      </p>
      <h3 class="p-3 text-center">SCOPE</h3>

      <p class="text-center mb-3">
        Protecting your personal information is our priority. This Privacy
        Policy explains how Horizon Hire processes and protects personal
        information about: 
      </p>
      <ul class="m-3">
        <li>
          candidates who register with us for roles that we are managing for
          other employers and for roles at Horizon Hire, or through our website,
          job boards, social media sites or other sources; 
        </li>
        <li>prospective candidates, </li>
        <li>business contacts at our clients and suppliers; and</li>
        <li>users of our websites; </li>
      </ul>

      <h3 class="p-3 text-center">Personal Information we collect</h3>

      <h4 class="p-3 text-center">Candidates</h4>

      <p class="text-center">
        When you register with us as a candidate to provide work finding
        services to you, you provide and we process your personal information,
        including but not limited to your name, contact details and information
        from your CV, current benefits and your expectations for future roles.  
      </p>

      <h4 class="p-3 text-center">Prospective Candidates</h4>
      <p class="text-center">
        We collect personal information about you, including your name and
        contact details and professional biographical details obtained from
        publicly available sources such as LinkedIn and social media sites, so
        that we can contact you if we think you may be interested in our work
        finding services at a future date.
      </p>
      <h4 class="p-3 text-center">Prospective Business Clients</h4>
      <p class="text-center">
        We collect your contact details and information relating to your
        function or position to establish commercial relationships with your
        company. 
      </p>
      <h3 class="p-3 text-center">How we use your personal information</h3>

      <ul>
        <li>provide you with work finding services; </li>
        <li>communicate with you;</li>
        <li>enable you to upload your CV and apply for jobs; </li>
        <li>personalise your experience by creating a candidate profile; </li>
        <li>enable us to monitor equality and diversity; </li>
        <li>provide you with interviewing and salary advice and </li>
        <li>
          send you direct marketing for the purposes of informing you about job
          opportunities, industry reports and insights, events, promotions and
          competitions, and other content in accordance with your marketing
          choices. 
        </li>
      </ul>

      <h3 class="p-3 text-center">Who we share your personal information with</h3>

      <p class="text-center">
        While your personal information will be kept confidential, in certain
        circumstances, it may be necessary for us to provide or disclose your
        personal information if required for any of the foregoing purposes.
        Where we do so, we would merely disclose information that is necessary
        for the purpose of such disclosure.  
      </p>
      <h4 class="p-3 text-center">Third parties </h4>

      <p class="text-center">
        If you are a candidate, we share your personal information with clients
        who have vacancies for jobs which you are interested in. 
      </p>
      <p class="text-center">
        We also share your personal information and where necessary, special
        category information with third party services who perform services and
        functions on our behalf, such as: 
      </p>

      <ul>
        <li>conducting employment reference checks; </li>
        <li>conducting qualification checks; </li>
        <li>carrying out criminal convictions checks (as required); </li>
        <li>verifying details you have provided from third party sources; </li>
        <li>conducting psychometric evaluations or skills tests; </li>
        <li>hosting personal information for us; </li>
        <li>providing professional advice to us; </li>
        <li>providing information analytics to us; </li>
        <li>
          carrying out testing and development work on our business technology
          systems; 
        </li>
        <li>administering surveys or competitions on our behalf;  </li>
        <li>assisting us to communicate with you; and </li>
        <li>
          providing research and mailing house or other direct marketing
          services. 
        </li>
      </ul>
    </div>
  </div>
</div>

<%- include("footer") -%>
